
.favorite{
color: #0FA926;
background-color: white;
border: 1px solid #0FA926;

}
.istoric{
color: #797979;
background-color: white;
border: 1px solid #c2c2c2  ;

}#content-favorite{
    margin-top: 20px;
}
#content-favorite-login{
    padding-left: 13px;
    padding-right: 13px;
}