

.dont-have-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 6px;                
  margin-top: 10px;        
}


.dont-have-account {
  font-size: 19px;
  color: #333;
}


.register-account {
  font-size: 19px;
  color: #036000;
  text-decoration: none;
  cursor: pointer;
}

.register-account:hover {
  text-decoration: underline;
}
.forgout-password{
  text-decoration: none;
  color: #036000;
  font-size: 19px;
  display: flex;
  justify-content: flex-end;                  
  margin-top: 15px;  
  margin-right: 40px;    

}



